html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Signika", sans-serif;
    background-color: #222222;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #4484ce;
    --accent-color: #f9cf00;
    --secondary-color: #f19f4d;
}

.bg-main {
    color: var(--main-color);
}

.bg-accent {
    color: var(--accent-color);
}

.bg-secondary {
    color: var(--secondary-color);
}

.button {
    background-color: var(--accent-color);
}

.head {
    width: 100;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.gradientSlide1 {
    background-image: linear-gradient(
            180deg,
            rgba(34, 34, 34, 1) 10%,
            rgba(0, 0, 0, 0) 60%,
            rgba(34, 34, 34, 1) 100%
        ),
        url("/img/slide1.jpg") !important;
}

.gradientSlide2 {
    background-image: linear-gradient(
            180deg,
            rgba(34, 34, 34, 1) 10%,
            rgba(0, 0, 0, 0) 60%,
            rgba(34, 34, 34, 1) 100%
        ),
        url("/img/slide2.jpg") !important;
}

.gradientSlide3 {
    background-image: linear-gradient(
            180deg,
            rgba(34, 34, 34, 1) 10%,
            rgba(0, 0, 0, 0) 60%,
            rgba(34, 34, 34, 1) 100%
        ),
        url("/img/slide3.jpg") !important;
}

.carousel-item {
    height: 95vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#searchBar {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
}

.articlesForm {
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-custom {
    background-color: transparent;
}

.footerCustom {
    position: absolute;
    bottom: -350%;
}

.btn-custom {
    background-color: #f1bf0f;
}
.text-custom {
    color: #f1bf0f;
}
.detailsBox {
    min-height: 150px;
    max-height: 300px;
    overflow-y: scroll;
}

@media (min-width: 991px) {
    .bg-custom {
        background-color: white;
    }
    .logo-custom {
        width: 7%;
    }
}

@media (max-width: 990px) {
    .logo-custom {
        width: 15%;
    }
}

@media (max-width: 450px) {
    .logo-custom {
        width: 30%;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #858585 14%, #858585 64%);
    border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #f1bf0f 14%, #f1bf0f 64%);
}
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}
