html {
    height: 100%;
}
body {
    font-family: "Signika", sans-serif;
    background-color: #d9d9d9;
    min-height: 100%;
}

:root{
    --main-color: #4484ce;
    --accent-color: #f9cf00;
    --secondary-color: #f19f4d;
}

.bg-main{
    color: var(--main-color);
}

.bg-accent{
    color: var(--accent-color);
}

.bg-secondary{
    color: var(--secondary-color);
}

.button{
    background-color: var(--accent-color);
}

.head {
    height: 100% !important;
}

.carousel-item {
    height: 95vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#searchBar {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 50%;
}

.articlesForm {
    background-color: rgba(255, 255, 255, 0.5);
}
.bg-custom {
    background-color: transparent;
}

.footerCustom {
    position: relative;
    bottom: 0;
}

@media (min-width: 991px) {
    .bg-custom {
        background-color: white;
    }
    .logo-custom {
        width: 7%;
    }
}

@media (max-width: 990px) {
    .logo-custom {
        width: 15%;
    }
}

@media (max-width: 450px) {
    .logo-custom {
        width: 30%;
    }
}
